Library
ProjectSettings
Standard Assets
Book Assets
测试专用/
Aver3/Aver3/bin/Debug/
Aver3/Aver3/obj/Debug/

Aver3/.vs/Aver3/v15/sqlite3/storage.ide
Aver3/.vs/Aver3/v15/Server/sqlite3
Aver3/Server/bin/Debug/
